html {
    background-color: rgb(196, 246, 255);
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: ubuntu;
}

/* Element Selctors */
form {
    display: flex;
}

header {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 2vh;
    font-size: calc(15px + 1vw);
}

h3 {
    text-align: center;
    margin-top: 0px;
}

h4 {
    text-align: center;
    font-size: 3em;
    margin-top: 0px;
}

main {
    margin: auto;
}

textarea { 
    display: block; 
}


/* Class Selectors */
.bprice {
    background-color: rgba(236, 231, 223, 0.747);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    border-radius: 20px;
}

.left {
    background-color: rgba(236, 231, 223, 0.747);
    margin: 0;
    padding: 50px;
    border-radius: 20px;
}

.right {
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ID Selectors */
#submit {
    margin: auto;
    font-size: 15px;
    padding: 5px;
    margin-left: 56px;
}